    <h1>Sélectionner un champion</h1>
    
    <div class='row padding3'>
        <div class='col-lg-3'>
            <input type='text' class="form-control" ng-model='query.name' placeholder="Chercher..." />
        </div>
        <div class='col-lg-4' ng-show="!champions">
            <img ng-src='/images/loading/1.gif'> Chargement des champions en cours
        </div>
    </div>
    
    <div class='row'>
        <champion-list query='query' champions="champions" version="version" nbperrow="12" showprix="true"></champion-list>
    </div>
    
