    <div class="row">
        <div class="col-md-4">
            <div class="text-center text-info">Test</div>
            <canvas id="chart01" class="chart chart-pie" data="vente_mensu.data" labels="vente_mensu.labels" legend="true" options="optionsChart"></canvas> 
        </div>
        <div class="col-md-8">
            <div class="text-center text-info">année
                <select ng-init="anneeStat=2015" ng-model="anneeStat">
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                </select>
            </div>
            <canvas id="chart02" class="chart chart-line" data="vente_annu['datas_'+anneeStat]" options="optionsChart"
                    labels="vente_annu.labels" legend="true" series="vente_annu.series"
                    click="onClick">
            </canvas>
        </div>
    </div>
