<div class="row">
    <div class='col-lg-8'>
        <champion-menu champion='champion' itemSelected='presentation'></champion-menu>
    </div>
    <div class="col-lg-2">
        <facebook class="pull-right"></facebook>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class='row'>
            <div ng-repeat="skin in champion.skins" class="col-lg-4 col-md-4 text-center  padding-bottom-20" >
                <div class="row">
                    <strong>{{skin.name}}</strong>
                </div>
                <div class="row">
                    <img  ng-click="setSelected(skin)" class="img-rounded pointer" height="300px;" ng-src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.name}}_{{skin.num}}.jpg'>
                </div>
                <div class="row">
                    Prix : <span ng-if='skin.prix_rp'> {{skin.prix_rp}} <img ng-src='/images/riot/rp.png' alt='RP' heigh='18px' width='18px'></span><span ng-if='!skin.prix_rp'>non défini</span>
                    <span ng-if='skin.video_skin'><img ng-click="setSelected(skin)" class='pointer' ng-src='/images/tools/play.png' height='18px' width='18px'></span>
                </div>
                <div class="row">
                    Sorti le : <span ng-if='skin.date_parution_skin'> {{skin.date_parution_skin}}</span><span ng-if='!skin.date_parution_skin'>non défini</span>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" ng-model='skin.video_skin' placeholder="vidéo..."><span  class='pointer' ng-click="validateSkin(skin);"><span class="glyphicon glyphicon-pencil"></span></span>
                    </div>
                </div>
                <div class="row" ng-show='skin.alert'>
                    <div class="col-lg-12">
                        <uib-alert type="success" style="height:20px;padding:0;" close="closeAlertSkin(skin);">Validé ;)</uib-alert>
                    </div>
                </div>

            </div>
        </div>
    </div> 

    <div class="col-lg-4">
        <div class="row text-center">
            Vidéo provenant de : <strong><a class="underline" target='blank' href='https://www.youtube.com/channel/UCW2u82qKRI54vOKgKBgfcng'>LOL SKIN FR</a></strong>
        </div>
        <div class="row text-center" ng-if='skinSelected.video_skin' ng-show="skinSelected.video_skin">
            <iframe width="100%" height="400" class="embed-responsive-item img-rounded"
                    ng-src='{{GetUrlService.getUrlVideoYoutube(skinSelected.video_skin);}}' 
                    frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row text-center" ng-show="!skinSelected.video_skin">
            Pas de vidéo enregistrée pour ce skin
        </div>
    </div>

    <div class='col-md-1 col-lg-1 ' id='side-choose-champion'>
        <input type='text' class="form-control" ng-model='query.name' placeholder="Chercher..." />
        <champion-list query='query' champions="champions" version="version" nbperrow="1"></champion-list>
    </div>
</div> 
