<div class='' ng-hide='champion'>
    <img ng-src='/images/loading/2.gif'> Le champion demandé est en cours d'invocation
</div>
<div ng-show="champion">
    <div class="row">
        <div class='col-lg-8'>
            <champion-menu champion='champion' itemSelected="presentation"></champion-menu>
        </div>
        <div class="col-lg-2">
            <facebook class="pull-right"></facebook>
        </div>
    </div>

    <div class="row padding-top-20">
        <div class='col-md-11 col-lg-11'>

            <div class="row">
                <div class="col-lg-3">
                    <champion-profil></champion-profil>
                </div>
                <div class="col-lg-5">
                     <fieldset id='conseil_riot'>
                        <legend>Les conseils de RIOT</legend>
                        <p><strong>Vous jouez {{champion.name}}</strong></p>
                        <ul>
                            <li ng-repeat="alltip in champion.allytips"><i>{{alltip}}</i></li>
                        </ul>

                        <p><strong>Vous êtes contre {{champion.name}}</strong></p>
                        <ul>
                            <li ng-repeat="enemytip in champion.enemytips"><i>{{enemytip}}</i></li>
                        </ul>

                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <champion-video-presentation ng-if="auMoinsUneVideo"></champion-video-presentation>
                    <div class="row" ng-if="!auMoinsUneVideo">
                        <div class="col-lg-12">
                            <div class="row text-center">Pas encore de vidéo pour ce champion :/</div>
                            <div class="row text-center padding-top-20"><i class="fa fa-file-video-o fa-5x"></i></div>
							
                        </div>
                    </div>
                </div>
            </div>

            <div class='row padding-top-20'>
                <div class='col-lg-3'>
                    <champion-skin></champion-skin>
                </div>
                <div class='col-lg-9'>
                    <champion-biographie></champion-biographie>
                </div>
            </div>
        </div>



        <div class='col-md-1 col-lg-1 ' id='side-choose-champion'>
            <input type='text' class="form-control" ng-model='query.name' placeholder="Chercher..." />
            <champion-list query='query' champions="champions" version="version" nbperrow="12"></champion-list>
        </div>
    </div>
</div>
