<div class='' ng-hide='champion'>
    <img ng-src='/images/loading/2.gif'> Le champion demandé est en cours d'invocation
</div>
<div class='' ng-show="champion">
     <div class="row">
            <div class='col-lg-8'>
                <champion-menu champion='champion' itemSelected='presentation'></champion-menu>
            </div>
            <div class="col-lg-2">
                <facebook class="pull-right"></facebook>
            </div>
    </div>

    <div class="row">

        <div class="col-lg-11">

            <div class="row">
                <div class="col-md-4">
                    <div class="text-center text-info">Positions joués par {{champion.name}}</div>
                    <canvas id="chart01" class="chart chart-pie" data="position.data" labels="position.labels" legend="true" options="optionsChart"></canvas> 
                </div>
                <div class="col-md-8">
                    <div class="text-center text-info">Type de graphique
                        <select ng-init="typeGraph='win'" ng-model="typeGraph">
                            <option value="win">Ratio de victoire</option>
                            <option value="pickBan">Ratio de pick et de ban</option>
                        </select>
                    </div>
                    <canvas id="chart02" class="chart chart-line" data="stats_champion[typeGraph]" options="optionsChart"
                            labels="stats_champion.labels" legend="true" series="stats_champion.series"
                            click="onClick">
                    </canvas>
                </div>
            </div>
            
        </div>
        
        
        <div class='col-md-1 col-lg-1 ' id='side-choose-champion'>
            <input type='text' class="form-control" ng-model='query.name' placeholder="Chercher..." />
            <champion-list query='query' champions="champions" version="version" nbperrow="12"></champion-list>
        </div>
    </div>
</div>

<style>
    #side-choose-champion
    {   max-height:500px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-left:solid #ddd 1px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    } 
    #side-choose-champion:hover
    {   opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    } 
    
</style>
