$i: 1;
$nb : 20;
@each $pos in '',-top, -right, -bottom, -left {
    $i:1;
    @while $i < $nb {
      .margin#{$pos}-#{$i}{margin#{$pos} : #{$i}px;}
      $i: $i + 1;
    }
}
.margin-none{padding : 0px;}