$i: 1;
$nb : 30;
@each $pos in '',-top, -right, -bottom, -left {
    $i:1;
    @while $i < $nb {
      .padding#{$pos}-#{$i}{padding#{$pos} : #{$i}px;}
      $i: $i + 1;
      
    }
}
.padding-none{padding : 0px;}