$navbar-inverse-bg : #000;
$navbar-inverse-link-color : #fff;
$navbar-inverse-link-hover-color : #ffeb3b;
$navbar-padding-horizontal : 50px;
$navbar-border-radius : 0px;
$navbar-margin-bottom : 0;

.theme-caitlyn{
   background: url("/images/dragontail-6.1.1/champion/splash/Caitlyn_2.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  color:#fff;
}
.theme-tristana{
   background: url("/images/dragontail-6.1.1/champion/splash/Tristana_10.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  font-weight: bold;
}
.theme-profil{
   background: url("/images/dragontail-6.1.1/champion/splash/Ekko_0.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  font-weight: bold;
  color:#fff;
}
.theme-lcs{
   background: url("/images/dragontail-6.1.1/champion/splash/Orianna_4.jpg") no-repeat fixed; 
   //background: url("/images/dragontail-6.1.1/champion/splash/Zyra_3.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  font-weight: bold;
  color:#fff;
}
.theme-webtv{
   //background: url("/images/dragontail-6.1.1/champion/splash/Velkoz_2.jpg") no-repeat fixed; 
   background: url("/images/dragontail-6.1.1/champion/splash/Zyra_3.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  font-weight: bold;
  color:#fff;
}
.theme-streams{
   background: url("/images/dragontail-6.1.1/champion/splash/Blitzcrank_11.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  font-weight: bold;
  color:#fff;
}
.theme-tool{
   background: url("/images/dragontail-6.1.1/champion/splash/Nasus_0.jpg") no-repeat fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  font-weight: bold;
  
  h1{
      color:#fff;
  }
  table{
      background: #fff;
  }
}