<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-8">
        <h1 class="text-center">{{ "FORM_USER_LOGIN_TITLE" | translate }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-8">
        <p class='alert alert-success' ng-show="isNewUser()">{{ 'FORM_USER_LOGIN_ACCOUNT_CREATED' | translate }}</p>
        <p class='alert alert-danger' ng-show="isUnAuthorizedUser()">{{ 'FORM_USER_LOGIN_UNAUTHORIZED' | translate }}</p>
        <p class='alert alert-danger' ng-show="errorLogin">{{ 'FORM_USER_LOGIN_ERROR_LOGIN' | translate }}</p>
    </div>
</div>

<div class="row padding-top-20">
    <div class="col-lg-offset-4 col-lg-4 col-md-8">
        <login-form-directive></loginForm-directive>
    </div>
</div>