<div class="row">
    <div class="col-lg-12">
        <h1>{{user.sLogin}} <span ng-show="(patienter == 1)"><img ng-src='/images/loading/2.gif' alt='Patienter'/></span></h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p ng-show='(bMailSent == 1)' class='alert alert-info'>{{ 'FORM_USER_EMAIL_SENT' | translate }}</p>
        <p ng-show='(bSummonerValidated == 1)' class='alert alert-success'>{{ 'USER_PROFIL_MSG_VALIDATED_SUMMONNER' | translate }}</p>
        <p ng-show='(bFailSummonerValidated == 1)' class='alert alert-danger' ng-bind-html="'USER_PROFIL_FAIL_VALIDATED_SUMMONNER' | translate"></p>


    </div>
</div>

<div class='row'>
    <div class='col-lg-2 text-center'>
        <img src='http://www.gravatar.com/avatar/{{user.sGravatar}}?s=100' alt='' class='img-rounded'/>
    </div>
    <div class='col-lg-10'>
        <div class='row'>
            <b>{{ 'PROFIL_EMAIL' | translate }} : </b>{{user.sEmail}} 
            <button ng-if='(user.bEmailValidated != 1)' ng-click="sendValidEmail();" class='btn btn-primary'>{{ 'USER_PROFIL_VALIDATE_EMAIL' | translate }}</button>
            <span ng-if='(user.bEmailValidated == 1)' class="label label-success">{{ 'USER_PROFIL_VALIDATED_EMAIL' | translate }}</span>
        </div>
        <div class='row'>
            <b>{{ 'PROFIL_SUMMONER' | translate }} : </b> {{user.sLolLogin}}
            <span ng-show='(user.bLolValidated == 1)' class="label label-success">{{ 'USER_PROFIL_VALIDATED_SUMMONER' | translate }}</span>
        </div>
        <!-- 
                
        -->
    </div>
</div>

<div class='row' ng-show='(user.bLolValidated != 1)'>
    <div class='col-lg-12'>
        <fieldset>
            <legend>Valider votre compte invocateur</legend>
            <p>{{'USER_PROFIL_RENAME_RUNE'| translate}} <strong>{{user.sLolToken}}</strong>
                <span class="glyphicon glyphicon-info-sign pointer" uib-popover="{{ 'USER_PROFIL_RENAME_RUNE_INFO' | translate }}" popover-trigger="mouseenter" popover-placement="right" type="button"></span>
            <p>{{'USER_PROFIL_CLICK_ON_VALIDATE_LOL'| translate}} <button ng-click="validateSummoner()" class='btn btn-primary'>{{ 'USER_PROFIL_VALIDATE_ACCOUNT' | translate }}</button></p>
        </fieldset>
    </div>
</div>

<div class='row' ng-show='(user.bLolValidated == 1)'>
    <div class="col-lg-12">
        <h2>{{ 'USER_PROFIL_YOUR_RUNES_PAGES' | translate }}</h2>
        <p ng-repeat='rune in user.runes'>{rune}</p>
    </div>
</div>