<div class="row">
<div class="col-lg-offset-4 col-lg-4 col-md-8">
    <h1 class="text-center">{{ "FORM_USER_CREATE_TITLE" | translate }}</h1>
</div>
</div>
<div class="row padding-top-20">
        <div class="col-lg-offset-4 col-lg-4 col-md-8">
            <h2>{{ "FORM_USER_CREATE_TITLE_CLASSIC" | translate }}</h2>
            <register-form-directive></register-form-directive>
        </div>
        <!--
        <div class="col-lg-4 col-md-4">
            <h2>{{ "FORM_USER_CREATE_TITLE_RSV" | translate }}</h2>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Google +</li>
                <li>LinkedIn</li>
            </ul>
        </div>-->
</div>