<div class="row">
    <div class="col-lg-12">
        <h1>LCS 2016</h1>
    </div>
</div>
<div class="row padding-top-10">
    <div class="col-lg-12">
    <span ng-bind-html="'MEDIAS_LCS_INDICATION' | translate"></span>
    </div>
</div>


<div class="row  padding-top-20">
    
    <div class="col-lg-5 col-lg-offset-1 col-md-8">
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=dujcrhevib37tnbttrmvtm4f7g%40group.calendar.google.com&amp;color=%230800d6&amp;src=7jvg576bc6iigci4cnvuik2mtg%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Europe%2FParis" 
                style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <div class="col-lg-5 col-lg-offset-1 col-md-4">
        <twitter-timeline>
            <a class="twitter-timeline"
               href="https://twitter.com/lolesports"
               data-widget-id="684092208941785088">
               Tweets de @lolesports
            </a>
        <twitter-timeline>
            <p><b><a href="https://twitter.com/lolesports">Tweets provenant de @lolesports</a></b></p>
    </div>
    
</div> 