<div class="row">
    <div class="col-lg-12">
    <h1>Les streamers à suivre</h1>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p><i>Voici une liste de streamers francais. Ils ont chacun leur style et peuvent t'enseigner un tas de stratégies, tactiques et spotlight sur les champions, objets...</i></p>
        <p><i>Les suivre te permettra de progresser, apprendre des techniques et te tenir informer de l'actualité de LeagueOfLegends.</i></p>
        <p><i>Un grand point commun de ces streamers est le fun ! Vous passerez un excellent moment avec eux ;)</i></p>
</div>
</div>

<div class="row">
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://skyyart.fr/">Skyart</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-3 text-center">
                       <a  target='blank'  href="http://skyyart.fr/"><img src="/images/streams/skyart.png"></a>
                   </div> 
                   <div class="col-lg-9">
                       <div class="row">
                           <strong>Site :</strong> <a  target='blank'  href="http://skyyart.fr" class="underline">skyyart.fr</a>
                       </div>
                       <div class="row">
                            <strong>Chaine youtube :</strong> <a  target='blank'  href="https://www.youtube.com/channel/UCLVm_5eaipV6rKNzbSkwuUA?sub_confirmation=1" class="underline">JirayaEtSkyyart</a>, <a  target='blank'  href="https://www.youtube.com/channel/UC8g5sJFyraYb4Xl_lRHW-Jg?sub_confirmation=1" class="underline">Skyyart et Chelxie</a>
                       </div>
                       <div class="row">
                            <strong>Chaine dailymotion :</strong> <a  target='blank'  href="http://www.dailymotion.com/SkyyartTV" class="underline">SkyartTV</a>
                       </div>
                       <div class="row">
                            <strong>Réseaux sociaux :</strong> <a  target='blank'  href="https://www.facebook.com/Skyyart.Willy?fref=ts" class="underline">facebook</a>, <a  target='blank'  href="https://twitter.com/Skyyart" class="underline">twitter</a> 
                       </div>
                       <div class="row">
                             <!--<strong>Description : </strong>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://corobizar.com/">Corobizar</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-3 text-center">
                       <a  target='blank'  href="http://corobizar.com/"><img src="/images/streams/corobizar.png"></a>
                   </div> 
                   <div class="col-lg-9">
                       <div class="row">
                           <strong>Site :</strong> <a  target='blank'  href="http://corobizar.com/" class="underline">corobizar.com</a>
                       </div>
                       <div class="row">
                            <strong>Chaine youtube :</strong> <a  target='blank'  href="https://www.youtube.com/user/CorobizarOfficiel" class="underline">Corobizar</a>
                       </div>
                       <div class="row">
                            <strong>Chaine dailymotion :</strong> <a  target='blank'  href="http://www.dailymotion.com/Corobizar" class="underline">Corobizar</a>
                       </div>
                       <div class="row">
                            <strong>Réseaux sociaux :</strong> <a  target='blank'  href="https://www.facebook.com/Baramout?fref=ts" class="underline">facebook</a>, <a  target='blank'  href="https://twitter.com/corobizar" class="underline">twitter</a> 
                       </div>
                       <div class="row">
                             <!--<strong>Description : </strong>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    
    
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.twitch.tv/shaunzpro">Shaunz</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-3 text-center">
                       
                   </div> 
                   <div class="col-lg-9">
                       <div class="row">
                           <strong>Twitch :</strong> <a  target='blank'  href="http://www.twitch.tv/shaunzpro" class="underline">shaunzpro</a>
                       </div>
                       <div class="row">
                           <strong>Chaines youtube :</strong> <a  target='blank'  href="https://www.youtube.com/channel/UC-CYzayI_3cyVPHYG3O_LUQ" class="underline">Shaunz</a>
                       </div>
                       <div class="row">
                            <strong>Réseaux sociaux :</strong> <a  target='blank'  href="https://www.facebook.com/Shaunzpro?fref=ts" class="underline">facebook</a>, <a  target='blank'  href="https://twitter.com/shaunzpro" class="underline">twitter</a> 
                       </div>
                       <div class="row">
                             <!--<strong>Description : </strong>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://jiraya.tv/">Jiraya</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-3 text-center">
                       <a  target='blank'  href="http://jiraya.tv/"><img src="/images/streams/jiraya.png"></a>
                   </div> 
                   <div class="col-lg-9">
                       <div class="row">
                           <strong>Site :</strong> <a  target='blank'  href="http://jiraya.tv/" class="underline">jiraya.tv</a>
                       </div>
                       <div class="row">
                           <strong>Chaines youtube :</strong> <a  target='blank'  href="https://www.youtube.com/user/JirayaEtSkyyart" class="underline">JirayaEtSkyyart</a>, <a  target='blank'  href="https://www.youtube.com/user/xarietjiji"  class="underline">Xari et Jiji</a>, <a  target='blank'  href="https://www.youtube.com/channel/UC0qTZ_hRpnXhHr4yqY8oJAw"  class="underline">JirayaTV</a>
                       </div>
                       <div class="row">
                            <strong>Chaine dailymotion :</strong> <a  target='blank'  href="http://www.dailymotion.com/Ls2" class="underline">Jiraya</a>
                       </div>
                       <div class="row">
                            <strong>Réseaux sociaux :</strong> <a  target='blank'  href="https://www.facebook.com/Jirayalecochon?fref=ts" class="underline">facebook</a>, <a  target='blank'  href="https://twitter.com/Jirayalecochon" class="underline">twitter</a> 
                       </div>
                       <div class="row">
                             <!--<strong>Description : </strong>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.eclypsia.com/fr/staff-office/le-roi-bisou">Le roi bisou</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-3 text-center">
                       <a  target='blank'  href="https://www.facebook.com/LeRoiBisou"><img src="/images/streams/lrb.jpg"></a>
                   </div> 
                   <div class="col-lg-9">
                       <div class="row">
                           <strong>Site :</strong> <a  target='blank'  href="http://www.eclypsia.com/fr/staff-office/le-roi-bisou" class="underline">le-roi-bisou</a>
                       </div>
                       <div class="row">
                           <strong>Chaine youtube :</strong> <a  target='blank'  href="https://www.youtube.com/user/lrbetsarens" class="underline">Le roi bisou</a>
                       </div>
                       <div class="row">
                            <strong>Réseaux sociaux :</strong> <a  target='blank'  href="https://www.facebook.com/LeRoiBisou" class="underline">facebook</a>, <a  target='blank'  href="https://twitter.com/LRB_LoL" class="underline">twitter</a> 
                       </div>
                       <div class="row">
                            <!--<strong>Description : </strong>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.twitch.tv/Gardoum">Gardoum</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="row">
                   <div class="col-lg-3 text-center">
                       <a  target='blank'  href="http://www.twitch.tv/Gardoum"><img src="/images/streams/gardoum.png"></a>
                   </div> 
                   <div class="col-lg-9">
                       <div class="row">
                           <strong>Site :</strong> <a  target='blank'  href="http://gardoum.com" class="underline">gardoum.com</a>
                       </div>
                       <div class="row">
                           <strong>Twitch :</strong> <a  target='blank'  href="http://www.twitch.tv/Gardoum" class="underline">Gardoum</a>
                       </div>
                       <div class="row">
                           <strong>Chaine youtube :</strong> <a  target='blank'  href="https://www.youtube.com/user/GardoumLoL" class="underline">GardoumLoL</a>
                       </div>
                       <div class="row">
                            <strong>Réseaux sociaux :</strong> <a  target='blank'  href="https://www.facebook.com/Gardoum" class="underline">facebook</a>, <a  target='blank'  href="https://twitter.com/gardoumlol" class="underline">twitter</a> 
                       </div>
                       <div class="row">
                            <strong>School egg :</strong> <a  target='blank'  href="http://school.egg-one.com/fr/cours-league-of-legends/2183#tab_profile" class="underline">gardoum</a>
                       </div>
                       <div class="row">
                            <!--<strong>Description : </strong>-->
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>