<div class="row">
    <h1>Les Web TVs à regarder</h1>
</div>

<div class="row">
        <p><i>Voici une liste de chaines TV à suivre. C'est le meilleur moyen de voir des matchs de haut niveau tels que les LCS</i></p>
</div>
<div class='row'>
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.ogaming.tv/stream/league-of-legends">Ogaming</a></i></strong>
            </div>

           <div class="panel-body">
               <strong>Site :</strong> <a  target='blank'  href="http://www.ogaming.tv/stream/league-of-legends" class="underline">www.ogaming.tv</a>
           </div>
       </div>
    </div>
    
    
    <!-- ******************** ECLYPSIA ***************************** -->
    
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.eclypsia.com/fr/ectv2">Eclypsia</a></i></strong>
            </div>

           <div class="panel-body">
               <div class="col-lg-3 text-center">
                    <a  target='blank'  href="http://www.eclypsia.com/fr/ectv2"><img src="/images/streams/eclypsia.png"></a>
                </div> 
                <div class="col-lg-9">
                    <div class="row">
                         <strong>Site :</strong> <a  target='blank'  href="http://www.eclypsia.com/fr/ectv2" class="underline">www.eclypsia.com</a>
                    </div>
                    <div class="row">
                         <strong>Youtube :</strong> <a  target='blank'  href="https://www.youtube.com/user/eclypsiafamily" class="underline">EclypsiaFamily</a>
                    </div>
               </div>
           </div>
       </div>
    </div>
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.millenium.org/lol/">Millenium</a></i></strong>
            </div>

           <div class="panel-body">
               <strong>Site :</strong> <a  target='blank'  href="http://www.millenium.org/lol/" class="underline">www.millenium.org</a>
           </div>
       </div>
    </div>
</div>

<div class='row'>
    <div class="col-lg-4">
       <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i><a  target='blank'  href="http://www.team-aaa.com/lol/">aAa</a></i></strong>
            </div>

           <div class="panel-body">
               <strong>Site :</strong> <a  target='blank'  href="http://www.team-aaa.com/lol/" class="underline">aAa</a>
           </div>
       </div>
    </div>
</div>