<div class="row">
    <h1>Les worlds 2015</h1>
</div>

<div class="row">
    <div class='col-lg-6'>
	
		<div class="panel panel-default">
		  <div class="panel-heading text-center">Groupe A</div>
			
			
		  <!-- Table -->
		  <table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="text-center">Région</th>
					<th class="text-center">Sigle</th>
					<th class="text-center">Equipe</th>
					<th class="text-center">Victoires</th>
					<th class="text-center">Parties jouées</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">CLG</td>
					<td class="text-center">Counter Logic Gaming</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">FW</td>
					<td class="text-center">yoe Flash Wolves</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">KOO</td>
					<td class="text-center">KOO Tigers</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">PAIN</td>
					<td class="text-center">paiN Gaming</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>
			</tbody>
		  </table>
		  
		  
		  
		  <ul class="list-group">
			<li class="list-group-item text-center">Jeudi 1er Octobre 2015 20h30 : CLG vs FW</li>
			<li class="list-group-item text-center">Jeudi 1er Octobre 2015 21h30 : PAIN vs KOO</li>
			<li class="list-group-item text-center">Vendredi 2 Octobre 2015 20h00 : FW vs KOO</li>
			<li class="list-group-item text-center">Vendredi 2 Octobre 2015 21h00 : CLG vs PAIN</li>
			<li class="list-group-item text-center">Dimanche 4 Octobre 2015 18h00 : KOO vs CLG</li>
			<li class="list-group-item text-center">Dimanche 4 Octobre 2015 19h00 : PAIN vs FW</li>
		  </ul>
		  
		</div>
	
	</div>
	    <div class='col-lg-6'>
	
		<div class="panel panel-default">
		  <div class="panel-heading text-center">Groupe B</div>
			
			
		  <!-- Table -->
		  <table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="text-center">Région</th>
					<th class="text-center">Sigle</th>
					<th class="text-center">Equipe</th>
					<th class="text-center">Victoires</th>
					<th class="text-center">Parties jouées</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">FNC</td>
					<td class="text-center">Fnatic</td>
					<td class="text-center">1</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">C9</td>
					<td class="text-center">Cloud9</td>
					<td class="text-center">1</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">IG</td>
					<td class="text-center">Invictus Gaming</td>
					<td class="text-center">0</td>
					<td class="text-center">1</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">AHQ</td>
					<td class="text-center">ahq e-Sports Club</td>
					<td class="text-center">0</td>
					<td class="text-center">1</td>
				</tr>
			</tbody>
		  </table>
		  
		  
		  
		  <ul class="list-group">
			<li class="list-group-item text-center">Jeudi 1er Octobre 2015 16h30 : Fnatic 1-0 IG</li>
			<li class="list-group-item text-center">
                            Jeudi 1er Octobre 2015 17h30 : <b>C9 1-0 AHQ</b><br>
                            Gangplank,Lee Sin, Veigar, Tristana, Morgana <br><b>VS</b><br> Darius, Rengar, Fizz, Sivir, Braum
                        </li>
			<li class="list-group-item text-center">Samedi 3 Octobre 2015 18h00 : IG vs C9</li>
			<li class="list-group-item text-center">Samedi 3 Octobre 2015 19h00 : AHQ vs FNC</li>
			<li class="list-group-item text-center">Dimanche 4 Octobre 2015 16h00 : IG vs AHQ</li>
			<li class="list-group-item text-center">Dimanche 4 Octobre 2015 17h00 : C9 vs FNC</li>
		  </ul>
		  
		</div>
	
	</div>
</div>

<div class="row">
    <div class='col-lg-6'>
	
		<div class="panel panel-default">
		  <div class="panel-heading text-center">Groupe C</div>

		  <!-- Table -->
		  <table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="text-center">Région</th>
					<th class="text-center">Sigle</th>
					<th class="text-center">Equipe</th>
					<th class="text-center">Victoires</th>
					<th class="text-center">Parties jouées</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">SKT T1</td>
					<td class="text-center">SK Telecom T1</td>
					<td class="text-center">1</td>
					<td class="text-center">1</td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">H2K</td>
					<td class="text-center">H2k-Gaming</td>
					<td class="text-center">0</td>
					<td class="text-center">1</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">EDG</td>
					<td class="text-center">Edward Gaming</td>
					<td class="text-center">1</td>
					<td class="text-center">1</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">BKT</td>
					<td class="text-center">Bangkok Titans</td>
					<td class="text-center">0</td>
					<td class="text-center">1</td>
				</tr>
			</tbody>
		  </table>
		  
		  
		  
		  <ul class="list-group">
			<li class="list-group-item text-center">Jeudi 1er Octobre 2015 18h30 : SKT 0-1 H2K</li>
			<li class="list-group-item text-center">Jeudi 1er Octobre 2015 19h30 : EDG 1-0 BKT</li>
			<li class="list-group-item text-center">Vendredi 2 Octobre 2015 18h00 : EDG vs SKT</li>
			<li class="list-group-item text-center">Vendredi 2 Octobre 2015 19h00 : H2K vs EDG</li>
			<li class="list-group-item text-center">Samedi 3 Octobre 2015 14h00 : EDG vs SKT</li>
			<li class="list-group-item text-center">Samedi 3 Octobre 2015 15h00 : H2K vs BKT</li>
		  </ul>
		  
		</div>
	
	</div>
	    <div class='col-lg-6'>
	
		<div class="panel panel-default">
		  <div class="panel-heading text-center">Groupe D</div>

		  <!-- Table -->
		  <table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="text-center">Région</th>
					<th class="text-center">Sigle</th>
					<th class="text-center">Equipe</th>
					<th class="text-center">Victoires</th>
					<th class="text-center">Parties jouées</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">LGD</td>
					<td class="text-center">LGD Gaming</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>
				<tr>
					<td class="text-center"></td>
					<td class="text-center">KTR</td>
					<td class="text-center">kt Rolster</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">TSM</td>
					<td class="text-center">Team SoloMid </td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>				
				<tr>
					<td class="text-center"></td>
					<td class="text-center">OG</td>
					<td class="text-center">Origen</td>
					<td class="text-center"></td>
					<td class="text-center">0</td>
				</tr>
			</tbody>
		  </table>
		  
		  
		  
		  <ul class="list-group">
			<li class="list-group-item text-center">Vendredi 2 Octobre 2015 16h00 : KT vs TSM</li>
			<li class="list-group-item text-center">Vendredi 2 Octobre 2015 17h00 : LGD vs OG</li>
			<li class="list-group-item text-center">Samedi 3 Octobre 2015 16h00 : LGD vs KT</li>
			<li class="list-group-item text-center">Samedi 3 Octobre 2015 17h00 : OG vs TSM</li>
			<li class="list-group-item text-center">Dimanche 4 Octobre 2015 14h00 : TSM vs LGD</li>
			<li class="list-group-item text-center">Dimanche 4 Octobre 2015 15h00 : KT vs OG</li>
		  </ul>
		  
		</div>
	
	</div>
</div>
