<div class='row'>
    <div class="col-lg-12">
        <h1>Creeps</h1>
    </div>
</div>

<div class='row padding-top-10'>
    <div class="col-lg-12" ng-init='initTotal();'>
        
            <div class="col-lg-3 well">
                <ul>
                    <li><b>Sbire Mêlée : </b> {{sbireMeleGold}} golds</li>
                    <li><b>Sbire Distance : </b> {{sbireDistanceGold}} golds</li>
                    <li><b>Sbire Canon : </b> {{sbireCanonGold}} golds</li>
                </ul>
            </div>
        
            <div class="col-lg-3 col-lg-offset-1 well">
                <ul>
                    <li><b>Last hits total : </b> {{stats.totalCreepsLastHit}} / {{stats.totalCreeps}}</li>
                    <li><b>Golds total : </b> {{stats.totalGoldsLastHit}} / {{stats.totalGolds}}</li>
                </ul>
            </div>
        
            <div class="col-lg-3 col-lg-offset-1 alert alert-info">
                <p>{{'TOOl_CREEP_INFO'| translate}}</p>
            </div>
        
    </div>
</div>



<div class='row' >
    {{vague}}
</div>
<table class='table table-bordered table-stripped'>
    <thead>
        <tr>
            <th>Vague</th>
            <th>Minute</th>
            <th>Sbires Mêlée</th>
            <th>Sbires Distance</th>
            <th>Sbires Canon</th>
            <th>Last hits Potentiels</th>
            <th>Golds Potentiels</th>
            <th>Last hits</th>
            <th>Golds Gagnés</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="vague in vagues">
            <td>{{vague.numero}}</td>
            <th>{{vague.minute}}</th>
            <td>
                <input ng-model='vague.sbireMeleLastHit' 
                       type='number' style="width : 50px;" 
                       min='0' max='{{vague.sbireMele}}' 
                       value="0" ng-change='calculStats();'> / {{vague.sbireMele}}
            </td>
            <td>
                <input ng-model='vague.sbireDistanceLastHit' 
                       type='number' style="width : 50px;" 
                       min='0' max='{{vague.sbireDistance}}' 
                       value="0" ng-change='calculStats();'>  / {{vague.sbireDistance}}
            </td>
            <td>
                <input ng-if='vague.sbireCanon != 0' ng-model='vague.sbireCanonLastHit' 
                       type='number' style="width : 50px;" 
                       min='0' max='{{vague.sbireCanon}}' 
                       value="0" ng-change='calculStats();'>  <span ng-if='vague.sbireCanon == 0'>0</span>/ {{vague.sbireCanon}}
            </td>
            <td>{{vague.sbireMele + vague.sbireCanon + vague.sbireDistance}}</td>
            <td>{{vague.sbireMele * sbireMeleGold + vague.sbireDistance * sbireDistanceGold + vague.sbireCanon * sbireCanonGold}}</td>
            <td>{{vague.sbireMeleLastHit + vague.sbireDistanceLastHit + vague.sbireCanonLastHit}}</td>
            <td>{{vague.sbireMeleLastHit * sbireMeleGold + vague.sbireDistanceLastHit * sbireDistanceGold + vague.sbireCanonLastHit * sbireCanonGold}}</td>
        </tr>
    </tbody>

</table>