<h1>Lexique</h1>

<table class='table table-bordered table-striped table-condensed table-responsive'>
    <thead>
        <tr>
            <th>Mot</th>
            <th>Définition</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='word in words'>
            <td>{{ word.word | translate }}</td>
            <td>{{ word.definition | translate }}</td>
        </tr>
    </tbody>
</table>