<div class='row'>
    <div class='col-lg-5 col-lg-offset-1  text-center'>
        <h1 class="" ng-bind-html="'WELCOME_ON_WEBSITE' | translate"></h1>
    </div>
</div>
<div class='row padding-top-20'>
    <div class='col-lg-5 col-lg-offset-1  text-center'>
        <p><i ng-bind-html="'WELCOME_ON_WEBSITE_INTRO' | translate"></i></p>
    </div>
</div>

<div class='row padding-top-20'>
    <div class='col-lg-5 col-lg-offset-1'>
        <div class="img-thumbnail embed-responsive embed-responsive-4by3 video-youtube" >
            <video-youtube url-youtube="vzHrjOMfHPY" width-youtube="400" height-youtube="200px"></video-youtube>
        </div>
    </div>
</div>