<h1><span ng-if="champion.freeToPlay" class="glyphicon glyphicon-hand-right"></span> {{champion.name}}
    <a href="/#/champions/{{champion.id}}" ng-class="{'active' : (itemSelected == 'presentation')}" class="btn btn-primary" >Présentation{{itemSelected}}</a>
    <a href="/#/champions/{{champion.id}}/skins" ng-class="{'active' : (itemSelected == 'skin')}" class="btn btn-primary" >Skins</a>
    <!--<a href="/#/champions/{{champion.id}}/stats" class="btn btn-primary" >Stats</a>-->
    <!--<a href="" class="btn btn-primary" >Sorts</a>-->
    <!--<a href="" class="btn btn-primary" >Maîtrises & Runes</a>-->
    <!--<a href="" class="btn btn-primary" >Objets</a>-->
</h1>