<div class="panel panel-default">
    <div class="panel-heading">
        <strong><i>{{champion.title}} {{champion.freeToPlay}}</i></strong>
    </div>

    <div class="panel-body">
        <div class="">
            <div class="col-lg-12 text-center">
                <img ng-src='http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{champion.image.full}}'
                        width ="128" height ="128" class="img-rounded" />
            </div>
        </div>
        <div class='row'>

            <div class="col-lg-12">
                
                <div class='row padding2'>
                    <div class='col-lg-3'>
                        <strong>Tags</strong>
                    </div>
                    <div class='col-lg-7'>
                        <div class="margin0 padding0">
                            <span class="badge" ng-repeat="tag in champion.tags">{{tag}}</span>
                        </div>
                    </div>
                </div>

                <div class='row padding2'>
                    <div class='col-lg-3'>
                        <strong>Défense</strong>
                    </div>
                    <div class='col-lg-7'>
                        <div class="progress margin0 padding0">
                            <div class="progress-bar defense" role="progressbar" aria-valuenow="{{champion.info.defense}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.defense}}0%;">
                                {{champion.info.defense}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row padding2'>
                    <div class='col-lg-3'>
                        <strong>Attaque</strong>  
                    </div>
                    <div class='col-lg-7'>
                        <div class="progress margin0">
                            <div class="progress-bar attaque" role="progressbar" aria-valuenow="{{champion.info.attack}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.attack}}0%;">
                                {{champion.info.attack}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class='row padding2'>
                    <div class='col-lg-3'>
                        <strong>Magie</strong> 
                    </div>
                    <div class='col-lg-7'>
                        <div class="progress margin0">
                            <div class="progress-bar magie" role="progressbar" aria-valuenow="{{champion.info.magic}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.magic}}0%;">
                                {{champion.info.magic}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row padding2'>
                    <div class='col-lg-3'>
                        <strong>Difficulté</strong>  
                    </div>
                    <div class='col-lg-7'>
                        <div class="progress margin0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{champion.info.difficulty}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.difficulty}}0%;">
                                {{champion.info.difficulty}}
                            </div>
                        </div>
                    </div>
                </div>
                
            
            </div>

        </div>   
    </div>
    <div class="panel-footer">
        <strong><i>Liens</i></strong>
        <ul>
            <li ng-if="!champion.liens">aucun lien pour ce champion</li>
            <li ng-repeat="lien in champion.liens"><a href="{{lien.url}}" target="_blank" title="{{lien.title}}">{{lien.libelle}}</a></li>
        </ul>
        
    </div>
</div>