<div class="panel panel-default">
    <div class="panel-heading pointer" data-toggle="collapse" data-target="#pan_sorts">
        <div class='row'>
            <div class='col-lg-12'>
                <strong><i>Ses sorts</i></strong> 
            </div>
        </div>
    </div>
    <div class="panel-body collapse in" id='pan_sorts'>

        <div class='row'>
            <div class="col-lg-12">
                <div class="media">
                    <div class="media-left">
                        <span class="media-object img-rounded" style="height:48px;width:48px;margin:auto;
                             background:url('//ddragon.leagueoflegends.com/cdn/{{version}}/img/sprite/{{champion.passive.image.sprite}}') -{{champion.passive.image.x}}px -{{champion.passive.image.y}}px no-repeat"
                        ></span>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><i><span class="label label-default">Passif</span></i>  {{champion.passive.name}}</h4>
                      {{champion.passive.description}}
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12" ng-repeat='spell in champion.spells'>
                <hr>
                <div class="media">
                    <div class="media-left">
                        <span class="media-object img-rounded" style="height:48px;width:48px;margin:auto;
                                background:url('//ddragon.leagueoflegends.com/cdn/{{version}}/img/sprite/{{spell.image.sprite}}') -{{spell.image.x}}px -{{spell.image.y}}px no-repeat"
                         ></span>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{spell.name}}</h4>
                      {{spell.description}}
                    </div>
                </div>
            </div>

    </div>
</div>