<div class="panel panel-default">
    <div class="panel-heading">
        <strong><i>{{champion.title}}</i></strong>
    </div>

    <div class="panel-body">
        
        <div class='row'>
            
            <div class="col-lg-4 text-center">
                <img ng-src='http://ddragon.leagueoflegends.com/cdn/4.21.5/img/champion/{{champion.image.full}}'
                        width ="128" height ="128" class="img-rounded" />
            </div>
            
            <div class="col-lg-8">
                <div class='row'>
                    <div class=' col-md-3 col-lg-3'>
                        <strong>Défense</strong>
                    </div>
                <div class='col-md-7 col-lg-7'>
                    <div class="progress margin0 padding0">
                        <div class="progress-bar defense" role="progressbar" aria-valuenow="{{champion.info.defense}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.defense}}0%;">
                            {{champion.info.defense}}
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-offset-1 col-lg-offset-1 col-md-3 col-lg-3'>
                    <strong>Attaque</strong>  
                </div>
                <div class='col-md-7 col-lg-7'>
                    <div class="progress margin0 marginTop3">
                        <div class="progress-bar attaque" role="progressbar" aria-valuenow="{{champion.info.attack}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.attack}}0%;">
                            {{champion.info.attack}}
                        </div>
                    </div>
                </div>
            </div>


            <div class='row'>
                <div class='col-md-offset-1 col-lg-offset-1 col-md-3 col-lg-3'>
                    <strong>Magie</strong> 
                </div>
                <div class='col-md-7 col-lg-7'>
                    <div class="progress margin0 marginTop3">
                        <div class="progress-bar magie" role="progressbar" aria-valuenow="{{champion.info.magic}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.magic}}0%;">
                            {{champion.info.magic}}
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-offset-1 col-lg-offset-1 col-md-3 col-lg-3'>
                    <strong>Difficulté</strong>  
                </div>
                <div class='col-md-7 col-lg-7'>
                    <div class="progress margin0 marginTop3">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{champion.info.difficulty}}" aria-valuemin="0" aria-valuemax="10" style="width: {{champion.info.difficulty}}0%;">
                            {{champion.info.difficulty}}
                        </div>
                    </div>
                </div>
            </div>
                
            
            </div>

        </div>   
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>Santé :</strong> {{champion.stats.hp + $this.champion.stats.hpperlevel}} (+{{champion.stats.hpperlevel}}/lvl)</li>
        <li class="list-group-item"><strong>Armure :</strong> {{champion.stats.armor + $this.champion.stats.armorperlevel}} (+{{champion.stats.armorperlevel}}/lvl)</li>
        <li class="list-group-item"><strong>Res. magique :</strong>  {{champion.stats.spellblock + $this.champion.stats.spellblockperlevel}} (+{{champion.stats.spellblockperlevel}}/lvl)</li>
        <li class="list-group-item"><strong>Dégâts :</strong> {{champion.stats.attackdamage + $this.champion.stats.attackdamageperlevel}} (+{{champion.stats.attackdamageperlevel}}/lvl)</li>
        <li class="list-group-item"><strong>Vit. d'att. :</strong> {{(round(0.625 / (1 + champion.stats.attackspeedoffset), 3))}} (*{{(1 + $this.champion.stats.attackspeedperlevel * 0.17)}}/lvl)</li>
        <li class="list-group-item"><strong>Déplacement :</strong> {{champion.stats.movespeed}}</li>
    </ul>
</div>