<div class="row-fluid">
    <div ng-repeat='champion in champions | filter:query | orderBy:"name"' class='col-lg-{{12 / nbperrow}}' 
         ng-click = 'selectChampion(champion.id)'>
        
            <div id='champion_{{champion.id}}' class='champion_selection pointer text-center' >
                <div ng-class="{ 'freechamp': champion.freeToPlay }">
                    <div class="row" >
                        <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{champion.image.full}}" width ="32" height ="32" class="img-circle" /><br/> 
                    </div>
                    <div class="row">
                        <span ng-if="champion.freeToPlay"> ! </span>{{champion.name}}
                    </div>
                    <div ng-if="showprix" class="row" >
                        {{champion.prix_pi}} <img ng-src='/images/riot/ip.png' alt='PI' height='12px' width='12px'><br/>
                        {{champion.prix_rp}} <img ng-src='/images/riot/rp.png' alt='RP'  height='12px' width='12px'>
                     </div>
                </div>
            </div>
        
    </div>
</div>