<div class="row">
        <div class="col-lg-12 text-center">
            <a style="text-decoration:underline;font:italic;" href="https://www.youtube.com/channel/UC2t5bjwHdUX4vM2g8TRDq5g" target="blank">Chaine youtube de LeagueofLegends</a>
        </div>
</div>
<div class='row'>
    <div class='col-lg-12' ng-repeat="video in videos.list" ng-show="video.show">
        <div class='row padding3'>
            <div class="img-rounded  embed-responsive embed-responsive-4by3" >
                <iframe width="100%" height="300" class="embed-responsive-item"
                        ng-src='{{video.url}}' 
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class='row padding3'>
            <p class='text-center'><strong>{{video.title}}</strong></p>
        </div>
    </div>
</div>
<div class='row text-center'>
    <div class="col-lg-12">
        <nav class="margin0 padding0">
            <ul class="pagination">
              <li ng-repeat="video in videos.list"><a ng-click="toggleVideo(video)" ng-class="{'active':video.show}">{{$index + 1}}</a></li>
            </ul>
        </nav>
    </div>
</div>


