<div class='col-lg-12'>
	<div class="row">
		<uib-carousel interval="carousel_interval" style='max-width:307px;margin:auto;'>
		  <uib-slide ng-repeat="skin in champion.skins">
			<img ng-src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.name}}_{{skin.num}}.jpg' style="margin:auto;">
			<div class="carousel-caption">
			  <h4>{{skin.name}}</h4>
			  <p></p>
			</div>
		  </uib-slide>
		</uib-carousel>
	</div>

</div>