<form ng-submit="logIn()" ng-init="user.password = ''">

    <!-- LOGIN -->

    <div ng-class="{'form-group':true}">
        <label for="login">{{ 'FORM_USER_LOGIN_LOGIN' | translate }} *</label>
        <input ng-model = 'user.login' type="text" class="form-control" 
               name="login" id="login" placeholder="" required>
    </div>



    <!-- PASSWORD -->

    <div ng-class="{'form-group':true}" class="form-group">

        <!-- input -->
        <label class="control-label" for="password">{{ 'FORM_USER_LOGIN_PASSWORD' | translate }}</label>
        <input ng-model = 'user.password'  type="password" class="form-control" name="password" id="password"  placeholder="" required/>
    </div>

    <!-- BUTTON -->

    <button type="submit" class="btn btn-default">
        Se connecter
    </button><img ng-show='patienter' ng-src="/images/loading/2.gif">
   
</form>