<uib-progress>
    <uib-bar value="(pwdstrength > 33) ? 33 : pwdstrength" type="success">{{ 'FORM_USER_CREATE_PASSWORD_FAIBLE' | translate }}</uib-bar>
    <uib-bar value="(pwdstrength > 66) ? 33 : (pwdstrength - 33)" type="warning">{{ 'FORM_USER_CREATE_PASSWORD_MOYEN' | translate }}</uib-bar>
    <uib-bar value="(pwdstrength > 99) ? 34 : (pwdstrength - 66)" type="danger">{{ 'FORM_USER_CREATE_PASSWORD_FORT' | translate }}</uib-bar>
</uib-progress>