.champion_selection
{  padding:3px;
   opacity: 0.33; 
   font-size:10px;
   font-weight: bold;
   /*height : 70px;*/
   display:inline;
}

.champion_selection:hover, champion_selection:focus
{   
   opacity: 1;
   /*padding:2px;*/
   /*border:1px solid #000;*/
   /*background:#D1DFFF;*/
}
.freechamp{
    background:#d9edf7;
}
.freechamp:hover, freechamp:focus{
    background:#00b3ee;
}

#pan_sorts{
    height:325px;
    overflow: auto;
    padding-bottom : 3px;
}
#pan_max_sort{
    height:325px;
    overflow: auto;
}
#conseil_riot{
    height:325px;
    overflow: auto;
}

   #side-choose-champion
    {   max-height:500px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-left:solid #ddd 1px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    } 
    #side-choose-champion:hover
    {   opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    } 
	