div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
    max-height: 2000px;
}

nav {
    background-image:url("/images/nav/Ahri.jpg");
    background-repeat:no-repeat;
    background-color : #000;
}
.navbar {
    margin-bottom: 0;
    font-weight: bold;
}
.nav-invocateur{
    background-image:url("/images/nav/Ryze.jpg");
    background-repeat:no-repeat;
    background-color : #000;
}
.nav-champions{
    background-image:url("/images/nav/Poppy.jpg");
    background-repeat:no-repeat;
    background-color : #000;
}
.nav-medias{
    background-image:url("/images/nav/Lucian.jpg");
    background-repeat:no-repeat;
    background-color : #000;
}
.nav-tools{
    background-image:url("/images/nav/Teemo.jpg");
    background-repeat:no-repeat;
    background-color : #000;
}
