.video-youtube{
-moz-box-shadow: 0px 0px 20px 15px #656565;
-webkit-box-shadow: 0px 0px 20px 15px #656565;
-o-box-shadow: 0px 0px 20px 15px #656565;
box-shadow: 0px 0px 20px 15px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=20);
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
border : none;
}